.AproposGeneral{
    font-family: 'Montserrat';}


.imgBanner2{
    border-radius : 20px;
    width: 100%;
    height:250px;
    object-fit: cover;
    filter: brightness(70%);
 }

 .Apropos-container{
    margin: 40px 50px 40px 50px;
    font-size:18px;
    font-weight: 500;
 }