.banner{
    width: 100%;
    display:flex;
    gap:60px;
    align-items:center;
    color: #ff6060;
    font-family: 'Montserrat';
    font-size:24px;
}

.banner_logo{
    justify-content: flex-start;
    margin-right:auto;
}

/*SMALL DEVICES*/
@media screen and (max-width : 700px){
 
    .banner{
        width: 100%;
    } 
}
 


