.banner{
    width: 100%;
    display:flex;
    gap:60px;
    align-items:center;
    flex-wrap: wrap;
    color: #ff6060;
    font-family: 'Montserrat';
    font-size:24px;
}

.banner *:first-child{
    margin-right: auto;
}

.banner a  {
    text-decoration: none;
    color: #ff6060;
}

.banner a.active{
    text-decoration: underline;
}

.banner a:hover {
    text-decoration: underline;
}

.banner_logo{
    justify-content: flex-start;
}
.imgBanner{
    border-radius : 20px;
    width: 100%;
    height:250px;
    object-fit: cover;
    filter: brightness(70%);
    position:relative;
 }
 
 .titleImgBanner{
    position:absolute;
    font-family:'Montserrat';
    top:27%;
    text-align: center;
    color:white;
    font-size: 45px;
 }
 
 
 /*SMALL DEVICE*/
 @media screen and (max-width : 700px){
 
     .imgBanner{
         height: 200px;
         display:flex;
         justify-content: flex-start;
         width: 100%;
     }
 
     .divImgBanner{
         justify-content: flex-start;
         position:relative;
     }
 .titleImgBanner{
    margin-left:20px;
    font-size:40px;
    position:absolute;
    top:20px;
 }
 
 .spanBanner{
     display:block;
 }
 }




/*SMALL DEVICES*/
@media screen and (max-width : 700px){
 
    .banner{
        width: 100%;
}
}
 


