.banner{
    display:flex;
    justify-content: space-between;
    align-items:center;
    color: #FA8072;
    font-family: 'Montserrat';
    font-size:14px;
}

.banner_links{
    justify-content: flex-end;
    
}

.banner_logo{
    justify-content: flex-start;

}