.errorDivGlobal{
    color: #FF6060;
    font-family:'Montserrat';
    display:flex;
    flex-direction:column;
    text-align: center;
}

.error404{
    font-size:200px;
    font-weight: 900;
    margin-bottom: 30px;
}

.errorP1{
    font-size:24px;
    font-weight: 700;
    margin-bottom:30px;
}

.errorP2{
    margin-bottom:90px;
    font-size:14px;
}

/*SMALL DEVICE

@media screen and (max-width : 700px){

}*/