.ficheLogementTotal{
    color: #FF6060;
    font-family: 'Montserrat';
}

.component2Et3{
    display: flex;
}
.component4Css{
    display: flex;
}


/*SMALL DEVICES*/
@media screen and (max-width : 700px){

.component2Et3{
    flex-direction: column;
}

.component4Css{
    flex-direction: column;
}

}
